In [1]:
from openai import OpenAI
import os
import pandas as pd
from sklearn.metrics import f1_score

In [ ]:
api_key = "<<<YOUR GPT API KEY>>>"

In [3]:

# API 키를 환경 변수에 저장
os.environ['OPENAI_API_KEY'] = api_key

def create_chat_completion(system_input, user_input, model="gpt-4o-mini", temperature=1.15, max_tokens=150):
    try:
        # 메시지 목록을 자동으로 생성해요
        messages = [
            {"role": "system", "content": system_input},
            {"role": "user", "content": user_input}
        ]

        response = OpenAI().chat.completions.create(
            model=model,
            messages=messages,
            temperature=temperature,
            max_tokens=max_tokens  # 최대 토큰 수를 지정해요
        )
        # 생성된 응답을 반환해요
        return response
    except Exception as e:
        return f"Error: {str(e)}"

# System

In [4]:
#train을 사용하려 여러 시도를 해봤으나 성능을 향상시키지 못함
system_input = """You are an expert in automotive data. You will be given data like below and you have to predict if it is automotive-related data or not. If it is automotive-related data, determine it as 1, otherwise 0.
example data looks like this and you have to predict answer for user input
ID: TRAIN_01
title: 도로교통공단_고속도로구간별 도로위험도지수정보 조회 서비스
notes: 고속도로명, 고속도로구간명과 차종코드를 이용하여 구간 내의 도로위험도지수값, 도로위험도등급 등의 구간좌표별 실시간 도로위험도지수정보를 제공하는 서비스
answer: 0

ID: TRAIN_02
title: New registrations of road vehicles by vehicle group and type
notes: This dataset presents the monthly data of new registrations of road vehicles (passenger cars, passenger vehicles, goods vehicles, agricultural vehicles, industrial vehicles, motorcycles, trailers) by canton and fuel, since 2005.
answer: 1

so your output should be like this: 0\n1
You are an expert in automotive data. Follow these instructions:

1. If the input data is automotive-related data, determine it as 1, otherwise 0. There are 40 data to answer.
2. ID: TEST_00 ~ TEST_39, and answer as 0 or 1 for each data, separated by row.
3. Be aware of output you can only contrain 0 or 1 for each data and '\n'for seperate this. If you output is wrong you have to go back and make output again
"""

In [5]:
#ver 1 
system_input = """You are an expert in automotive data. Follow these instructions:

1. If the input data is automotive-related data, determine it as 1, otherwise 0. There are 40 data to answer.
2. ID: TEST_00 ~ TEST_39, and answer as 0 or 1 for each data, separated by row.
3. Be aware of output you can only contain '0' or '1' for each data and '\n'for seperate this. If you output is wrong you have to go back and make output again
"""

In [6]:
system_input = """You are an expert in automotive data. Follow these instructions:

1. If the input data is automotive-related data, determine it as 1, otherwise 0. There are 40 data to answer.
2. ID: TEST_00 ~ TEST_39, and answer as 0 or 1 for each data, separated by row.
3. Each Test data has a title. You have to use these information for prediction.
4. If unsure or if your score is low, backtrack and try a different approach.
5. Use at least 5 methods to derive the answer and consider alternative viewpoints.
"""

In [7]:
system_input = """You are an expert in automotive data. Follow these instructions:

0. First translate the title to English.
1. If the input data is automotive-related data, determine it as 1, otherwise 0. There are 40 data to answer.
2. ID: TEST_00 ~ TEST_39, and answer as 0 or 1 for each data, separated by row.
3. Each Test data has a lang and title. You have to use these information for prediction.
4. If unsure or if your score is low, backtrack and try a different approach.
5. Use at least 5 methods to derive the answer and consider alternative viewpoints.
"""

# User

In [8]:
test = pd.read_csv("/home/yhkim/data/test.csv")

In [9]:
test.head(10)

,ID,lang,title,notes,answer
0,TEST_00,en,Beach Profile Data Collected from Madeira Beac...,"This dataset, prepared by the U.S. Geological ...",0
1,TEST_01,en,Nota media de la nota de admisión (cohorte de ...,Tabla de EDUCAbase Nota media de la nota de ad...,0
2,TEST_02,en,Internet-based platform services 2019 accordin...,NaN,0
3,TEST_03,kr,경상남도 김해시_자동차등록 현황,"경상남도 김해시 자동차등록 현황에 대한 데이터로 연도별 총계, 승용차, 승합차, 화...",1
4,TEST_04,jp,EV用充電設備の設置状況データ一覧,【東京都環境局】2021年3月末時点の都内におけるEV用充電設備の情報です。【リソース】EV...,0
5,TEST_05,kr,경기아트센터 장애인기업 생산제품 구매 현황,경기아트센터에서 제공하는 장애인기업 생산 제품 구매 현황,0
6,TEST_06,de,Autohaus,Weitere Informationen: https://wiki.openstreet...,1
7,TEST_07,kr,2021년 농식품부 국가안전대진단 실행계획,국가안전대진단은 세월호 참사 이후 2015년부터 각종 재난발생이 우려되는 시설에 대...,0
8,TEST_08,kr,경기도 성남시_교통단속 카메라 파일데이터,경기도 성남시 교통단속 카메라 openAPI 서비스에서 제공하는 데이터를 다운 받을...,0
9,TEST_09,kr,영화 관람 데이터,ㅇ 데이터 소개\n- 영화진흥위원회가 운영하는 KOBIS 영화관입장권통합전산망 데이...,0

In [10]:
##train을 사용하는 prompt, 위에서 언급한대로 성능을 향상시키지 못함

user_input = """
###Example###
ID: TRAIN_01
title: 도로교통공단_고속도로구간별 도로위험도지수정보 조회 서비스
answer: 0

ID: TRAIN_02
title: New registrations of road vehicles by vehicle group and type
answer: 1

ID: TRAIN_03
title: Siedlungs- und Verkehrsflächen nach Nutzungsartengruppen in Böxlund
answer: 1

ID: TRAIN_04
title: Marine Geophysical and Seismic Data from around the UK (1966 Onwards)
answer: 0

ID: TRAIN_05
title: Truck Size and Weight Enforcement Data
answer: 1

###User Input###
"""

for index, row in test.iterrows():
    user_input += f"ID: {row['ID']}\n"
    # user_input += f"language: {row['lang']}\n"
    user_input += f"title: {row['title']}\n\n"
    # user_input += f"notes: {row['notes'] if not pd.isna(row['notes']) else ''}\n\n"

In [11]:
test

,ID,lang,title,notes,answer
0,TEST_00,en,Beach Profile Data Collected from Madeira Beac...,"This dataset, prepared by the U.S. Geological ...",0
1,TEST_01,en,Nota media de la nota de admisión (cohorte de ...,Tabla de EDUCAbase Nota media de la nota de ad...,0
2,TEST_02,en,Internet-based platform services 2019 accordin...,NaN,0
3,TEST_03,kr,경상남도 김해시_자동차등록 현황,"경상남도 김해시 자동차등록 현황에 대한 데이터로 연도별 총계, 승용차, 승합차, 화...",1
4,TEST_04,jp,EV用充電設備の設置状況データ一覧,【東京都環境局】2021年3月末時点の都内におけるEV用充電設備の情報です。【リソース】EV...,0
5,TEST_05,kr,경기아트센터 장애인기업 생산제품 구매 현황,경기아트센터에서 제공하는 장애인기업 생산 제품 구매 현황,0
6,TEST_06,de,Autohaus,Weitere Informationen: https://wiki.openstreet...,1
7,TEST_07,kr,2021년 농식품부 국가안전대진단 실행계획,국가안전대진단은 세월호 참사 이후 2015년부터 각종 재난발생이 우려되는 시설에 대...,0
8,TEST_08,kr,경기도 성남시_교통단속 카메라 파일데이터,경기도 성남시 교통단속 카메라 openAPI 서비스에서 제공하는 데이터를 다운 받을...,0
9,TEST_09,kr,영화 관람 데이터,ㅇ 데이터 소개\n- 영화진흥위원회가 운영하는 KOBIS 영화관입장권통합전산망 데이...,0
10,TEST_10,kr,인천광역시_차로폭 차로수 현황,"인천광역시에서 유지관리하는 도로에 관한 데이터로 도로명, 도로폭, 도로연장, 도로면...",1
11,TEST_11,kr,(1월) 차량용 GPS Raw Data(PND),"내비게이션(PND, Mobile)을 통해 수집되는 차량용 GPS Raw Data",1
12,TEST_12,en,Liste des jardins partagés à Paris,Jeu de données listant l'ensemble des ja...,0
13,TEST_13,kr,진주시 CCTV 신호대기시간 데이터,진주시 관내 산업단지 및 주요도로에 설치된 CCTV의 영상을 분석하여 차로별로 신호...,0
14,TEST_14,en,Población por unidad poblacional,Relación detallada de las entidades y núcleos ...,0
15,TEST_15,kr,서울시 자치구별 수소차 등록현황,서울시 자치구별 수소차 등록현황입니다.,1
16,TEST_16,es,Tablas estadísticas del Censo de Mercado de Tr...,Estadistica Oficial. Tablas estadísticas de la...,0
17,TEST_17,kr,서울시 국민연금 가입사업장 현황 통계,○ 통계개요\n * 통계명 : 국민연금 가입사업장 현황\n * 통계종류 : 국민연금...,0
18,TEST_18,en,Modelo de flujo de tráfico en tiempo real,Este conjunto de datos contiene estimaciones d...,1
19,TEST_19,en,comune-di-lapedona-punti-interesse,NaN,0
20,TEST_20,de,Straßenverkehrsunfälle in Schleswig-Holstein J...,Straßenverkehrsunfälle in Schleswig-Holstein J...,1
21,TEST_21,kr,경주시 교통카드 사용내역 데이터,경주시 버스정보시스템(BIS)에서 버스 사용자의 교통카드 사용내역 데이터입니다. 승...,1
22,TEST_22,cn,新北市公車路線軌跡,新北市公車路線軌跡資料，說明文件詳如https://www.pto.gov.taipei/N...,1
23,TEST_23,kr,해양수산부_해양환경 교육 콘텐츠,"해양환경 관련 교육 콘텐츠(해양쓰레기, 반려해변, 교육용책자 등)를 제공하는 서비스...",0
24,TEST_24,en,"Steuereinnahmen: Deutschland, Quartale, Steuer...","Steuereinnahmen: Deutschland, Quartale, Steuer...",0
25,TEST_25,en,Carriageway Details,"This information contains length, width and su...",1
26,TEST_26,kr,대전시 도로 지점(노드) 데이터,"대전시의 도로 노드에 대한 노드 ID,노드 명칭,노드 영문 명칭,모델 약칭,X좌표,...",1
27,TEST_27,kr,강원도 강릉시_전기차 충전소,2022년 기업매칭 지원 사업으로 구축된 강릉시의 전기차 충전소 설치 현황으로 충전...,1
28,TEST_28,en,Fire and Rescue Service Operational Statistics,Statistics relating to the operational issues ...,0
29,TEST_29,kr,서울시 동작구 식육포장처리업 인허가 정보,"동작구의 소고기, 돼지고기 등 판매를 목적으로 식육을 절단하여 포장하는 업소정보\n...",0
30,TEST_30,kr,안구 움직임 영상 데이터,자연스러운 눈의 움직임과 시선 관련 기술 성숙도를 올리기 위해 거리에 따른 안구 움...,0
31,TEST_31,kr,대전시 노변장치(RSE) 구간통행속도 이력 데이터,대전시 첨단 교통량 관리 시스템(ATMS)에서 산출/제공되는 RSE 구간 간의 통행...,1
32,TEST_32,kr,부산광역시_시립미술관 이용객 수,2011년부터 2022년 10월까지 부산광역시립미술관을 이용한 이용객 수 현황- 데...,0
33,TEST_33,jp,【京都府】幼保連携型認定こども園の年齢別園児数,京都府統計書 第19章 教育【リソース】幼保連携型認定こども園の年齢別園児数（時系列） / ...,0
34,TEST_34,kr,한국도로공사_주행거리별 총이용차량(폐),한국도로공사 영업소 중 운영형태가 폐쇄식 영업소를 선별하여 해당하는 영업소의 주행거...,1
35,TEST_35,en,Straßenverkehrsunfälle in Hamburg Dezember 202...,NaN,1
36,TEST_36,kr,대전시 노변장치(RSE) 구간통행속도 이력 데이터,대전시 첨단 교통량 관리 시스템(ATMS)에서 산출/제공되는 RSE 구간 간의 통행...,1
37,TEST_37,en,Echolotdaten - Nordsee 2021 9262103,Die vorliegenden Echolotdaten wurden im Rahmen...,0
38,TEST_38,kr,한국어 멀티세션 대화,시간 간격이 있는 여러 개의 세션에서 두 명의 참여자가 부여받은 페르소나와 대화 토...,0
39,TEST_39,en,Traffic Flow Data July to Dec 2020 SDCC,SDCC Traffic Congestion Saturation Flow Data J...,1

In [12]:
user_input = ""

for index, row in test.iterrows():
    user_input += f"ID: {row['ID']}\n"
    # user_input += f"lang: {row['lang']}\n"
    user_input += f"title: {row['title']}\n\n"
    # user_input += f"notes: {' '.join(row['notes'].split()[:5]) if not pd.isna(row['notes']) else ''}\n\n"

In [13]:
len(user_input)

2185

In [14]:
response = create_chat_completion(model="gpt-3.5-turbo-0125", temperature=0.4, max_tokens=1000, system_input=system_input, user_input=user_input)

In [15]:
user_input += "make prediction for above 40 datas. answer as 0 or 1 for each data, separated by row(\\n). You dont need to write any other information. If you are not sure about the answer, go back and think again."

In [16]:
print(user_input)

ID: TEST_00
title: Beach Profile Data Collected from Madeira Beach, Florida (January 15, 2021)

ID: TEST_01
title: Nota media de la nota de admisión (cohorte de nuevo ingreso en el SUE) por forma de admisión, ámbito de estudio y sexo (universidades públicas presenciales)

ID: TEST_02
title: Internet-based platform services 2019 according to various criteria

ID: TEST_03
title: 경상남도 김해시_자동차등록 현황

ID: TEST_04
title: EV用充電設備の設置状況データ一覧

ID: TEST_05
title: 경기아트센터 장애인기업 생산제품 구매 현황

ID: TEST_06
title: Autohaus

ID: TEST_07
title: 2021년 농식품부 국가안전대진단 실행계획

ID: TEST_08
title: 경기도 성남시_교통단속 카메라 파일데이터

ID: TEST_09
title: 영화 관람 데이터

ID: TEST_10
title: 인천광역시_차로폭 차로수 현황

ID: TEST_11
title: (1월) 차량용 GPS Raw Data(PND)

ID: TEST_12
title: Liste des jardins partagés à Paris

ID: TEST_13
title: 진주시 CCTV 신호대기시간 데이터

ID: TEST_14
title: Población por unidad poblacional

ID: TEST_15
title: 서울시 자치구별 수소차 등록현황

ID: TEST_16
title: Tablas estadísticas del Censo de Mercado de Trabajo 2021 (CMT). Comarcas y subcomarcas de CAE. Fase de oferta

ID: TEST_17
title: 서울시 국민연금 가입사업장 현황 통계

ID: TEST_18
title: Modelo de flujo de tráfico en tiempo real

ID: TEST_19
title: comune-di-lapedona-punti-interesse

ID: TEST_20
title: Straßenverkehrsunfälle in Schleswig-Holstein Juni 2015

ID: TEST_21
title: 경주시 교통카드 사용내역 데이터

ID: TEST_22
title: 新北市公車路線軌跡

ID: TEST_23
title: 해양수산부_해양환경 교육 콘텐츠

ID: TEST_24
title: Steuereinnahmen: Deutschland, Quartale, Steuerarten nach derSteuerverteilung

ID: TEST_25
title: Carriageway Details

ID: TEST_26
title: 대전시 도로 지점(노드) 데이터

ID: TEST_27
title: 강원도 강릉시_전기차 충전소

ID: TEST_28
title: Fire and Rescue Service Operational Statistics

ID: TEST_29
title: 서울시 동작구 식육포장처리업 인허가 정보

ID: TEST_30
title: 안구 움직임 영상 데이터

ID: TEST_31
title: 대전시 노변장치(RSE) 구간통행속도 이력 데이터

ID: TEST_32
title: 부산광역시_시립미술관 이용객 수

ID: TEST_33
title: 【京都府】幼保連携型認定こども園の年齢別園児数

ID: TEST_34
title: 한국도로공사_주행거리별 총이용차량(폐)

ID: TEST_35
title: Straßenverkehrsunfälle in Hamburg Dezember 2020 - – Vorläufige Ergebnisse –

ID: TEST_36
title: 대전시 노변장치(RSE) 구간통행속도 이력 데이터

ID: TEST_37
title: Echolotdaten - Nordsee 2021 9262103

ID: TEST_38
title: 한국어 멀티세션 대화

ID: TEST_39
title: Traffic Flow Data July to Dec 2020 SDCC

make prediction for above 40 datas. answer as 0 or 1 for each data, separated by row(\n). You dont need to write any other information. If you are not sure about the answer, go back and think again.

# prediction

In [17]:
for i in range(5):
    response = create_chat_completion(model="gpt-3.5-turbo-0125", temperature=0.4, max_tokens=1000, system_input=system_input, user_input=user_input)
    print(pd.DataFrame(response.choices[0].message.content.split("\n")).transpose())     

    predictions = list(map(int, response.choices[0].message.content.split("\n")))
    #마지막 컬럼이 39인걸 확인할 것

  0  1  2  3  4  5  6  7  8  9   ... 30 31 32 33 34 35 36 37 38 39
0  1  0  0  1  1  0  0  0  1  0  ...  0  1  0  0  0  1  1  0  0  1

[1 rows x 40 columns]
  0  1  2  3  4  5  6  7  8  9   ... 30 31 32 33 34 35 36 37 38 39
0  1  0  0  1  1  0  0  0  1  0  ...  0  1  0  1  1  1  0  1  1  1

[1 rows x 40 columns]
  0  1  2  3  4  5  6  7  8  9   ... 29 30 31 32 33 34 35 36 37 38
0  1  0  0  1  1  0  0  0  1  0  ...  0  0  1  0  0  1  1  1  0  1

[1 rows x 39 columns]
  0  1  2  3  4  5  6  7  8  9   ... 30 31 32 33 34 35 36 37 38 39
0  1  0  0  1  1  0  0  1  1  0  ...  0  1  0  1  1  1  0  1  1  1

[1 rows x 40 columns]
  0  1  2  3  4  5  6  7  8  9   ... 30 31 32 33 34 35 36 37 38 39
0  1  0  0  1  1  0  0  0  1  0  ...  0  0  1  0  1  1  0  1  1  1

[1 rows x 40 columns]

# Make submission

In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [19]:
path = "/home/yhkim/code/carPrompt/submission"
submission_base = pd.read_csv(os.path.join(path, "base.csv"))

In [20]:
submission_base

,system,user
0,당신은 자동차 데이터 전문가입니다. 입력으로 들어오는 데이터가 자동차 관련 데이터라...,ID: TEST_00\ntitle: Beach Profile Data Collect...

In [21]:
submission_base["system"] = system_input
submission_base["user"] = user_input

In [22]:
submission_base

,system,user
0,You are an expert in automotive data. Follow t...,ID: TEST_00\ntitle: Beach Profile Data Collect...

In [23]:
submission_base.to_csv(os.path.join(path, "1016.csv"), index=False, encoding='utf-8-sig')