In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [28]:
path = "D:/LG_Radar"
train = pd.read_csv(path+"/train.csv")
test = pd.read_csv(path+"/test.csv")
submission = pd.read_csv(path+"/sample_submission.csv")

In [29]:
def lg_nrmse(gt, preds):
    # 각 Y Feature별 NRMSE 총합
    # Y_01 ~ Y_08 까지 20% 가중치 부여
    all_nrmse = []
    for idx in range(14): # ignore 'ID'
        rmse = mean_squared_error(gt[:,idx], preds[:,idx], squared=False)
        nrmse = rmse/np.mean(np.abs(gt[:,idx]))
        all_nrmse.append(nrmse)
    score = 1.2 * np.sum(all_nrmse[:8]) + 1.0 * np.sum(all_nrmse[8:14])
    print(all_nrmse)
    return score

In [30]:
train

,ID,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,...,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,TRAIN_00001,70.544,103.320,67.47,1,101.892,74.983,29.45,62.38,245.71,...,29.632,16.083,4.276,-25.381,-25.529,-22.769,23.792,-25.470,-25.409,-25.304
1,TRAIN_00002,69.524,103.321,65.17,1,101.944,72.943,28.73,61.23,233.61,...,33.179,16.736,3.229,-26.619,-26.523,-22.574,24.691,-26.253,-26.497,-26.438
2,TRAIN_00003,72.583,103.320,64.07,1,103.153,72.943,28.81,105.77,272.20,...,31.801,17.080,2.839,-26.238,-26.216,-22.169,24.649,-26.285,-26.215,-26.370
3,TRAIN_00004,71.563,103.320,67.57,1,101.971,77.022,28.92,115.21,255.36,...,34.503,17.143,3.144,-25.426,-25.079,-21.765,24.913,-25.254,-25.021,-25.345
4,TRAIN_00005,69.524,103.320,63.57,1,101.981,70.904,29.68,103.38,241.46,...,32.602,17.569,3.138,-25.376,-25.242,-21.072,25.299,-25.072,-25.195,-24.974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39602,TRAIN_39603,66.465,103.320,62.27,1,103.150,66.825,30.20,77.83,298.05,...,29.194,16.582,3.410,-26.486,-26.581,-22.772,24.261,-26.491,-26.584,-26.580
39603,TRAIN_39604,66.465,103.321,62.77,1,102.021,66.825,29.21,102.25,270.67,...,29.859,15.659,3.406,-27.308,-27.203,-24.674,23.427,-27.250,-27.334,-27.325
39604,TRAIN_39605,68.504,103.320,64.67,1,103.144,68.864,29.96,102.61,198.07,...,24.720,16.823,3.215,-26.502,-26.687,-22.577,24.301,-26.388,-26.425,-26.601
39605,TRAIN_39606,66.465,103.320,63.67,1,102.025,67.845,30.30,112.60,275.52,...,26.412,15.757,4.216,-26.760,-26.634,-24.066,23.305,-26.536,-26.751,-26.635
39606,TRAIN_39607,66.465,103.320,65.67,1,102.004,69.884,30.16,112.90,276.06,...,30.745,16.781,3.307,-26.054,-26.251,-23.257,24.450,-26.224,-26.256,-26.093

In [31]:
train.columns

Index(['ID', 'X_01', 'X_02', 'X_03', 'X_04', 'X_05', 'X_06', 'X_07', 'X_08',
       'X_09', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_16', 'X_17',
       'X_18', 'X_19', 'X_20', 'X_21', 'X_22', 'X_23', 'X_24', 'X_25', 'X_26',
       'X_27', 'X_28', 'X_29', 'X_30', 'X_31', 'X_32', 'X_33', 'X_34', 'X_35',
       'X_36', 'X_37', 'X_38', 'X_39', 'X_40', 'X_41', 'X_42', 'X_43', 'X_44',
       'X_45', 'X_46', 'X_47', 'X_48', 'X_49', 'X_50', 'X_51', 'X_52', 'X_53',
       'X_54', 'X_55', 'X_56', 'Y_01', 'Y_02', 'Y_03', 'Y_04', 'Y_05', 'Y_06',
       'Y_07', 'Y_08', 'Y_09', 'Y_10', 'Y_11', 'Y_12', 'Y_13', 'Y_14'],
      dtype='object')

In [32]:
X = train[list(train.columns[1:57])]
y = train[list(train.columns[57:])]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, np.array(y))

In [34]:
X

,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,X_10,...,X_47,X_48,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56
0,70.544,103.320,67.47,1,101.892,74.983,29.45,62.38,245.71,0.0,...,1,1,9706.03,137.043591,135.359219,147.837968,134.313475,125.605427,136.721425,125.028256
1,69.524,103.321,65.17,1,101.944,72.943,28.73,61.23,233.61,0.0,...,1,1,10423.43,133.736691,135.979817,149.924692,123.630583,127.893337,143.322659,124.877308
2,72.583,103.320,64.07,1,103.153,72.943,28.81,105.77,272.20,0.0,...,1,1,10948.53,132.805112,131.055355,146.814592,128.939070,127.012195,140.395688,122.238232
3,71.563,103.320,67.57,1,101.971,77.022,28.92,115.21,255.36,0.0,...,1,1,15007.03,134.138760,133.239422,139.720132,132.260824,130.723186,147.624829,134.875225
4,69.524,103.320,63.57,1,101.981,70.904,29.68,103.38,241.46,0.0,...,1,1,11051.03,142.728970,136.620022,134.853555,134.760252,125.647793,139.331105,123.272762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39602,66.465,103.320,62.27,1,103.150,66.825,30.20,77.83,298.05,0.0,...,1,1,60630.73,129.965741,130.807148,133.481737,125.273130,121.780933,133.780110,129.029812
39603,66.465,103.321,62.77,1,102.021,66.825,29.21,102.25,270.67,0.0,...,1,1,60763.43,127.633885,120.158764,142.667802,122.465490,122.987209,143.090741,122.811413
39604,68.504,103.320,64.67,1,103.144,68.864,29.96,102.61,198.07,0.0,...,1,1,8813.33,132.501286,136.893025,134.419328,129.115431,130.920147,140.489232,119.166699
39605,66.465,103.320,63.67,1,102.025,67.845,30.30,112.60,275.52,0.0,...,1,1,62222.33,128.189679,121.495930,141.288011,130.141676,125.518825,136.603634,124.525929
39606,66.465,103.320,65.67,1,102.004,69.884,30.16,112.90,276.06,0.0,...,1,1,62172.23,135.096272,122.988476,142.019357,123.752157,130.648365,139.695370,136.714504

In [35]:
y

,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,2.056,1.456,1.680,10.502,29.632,16.083,4.276,-25.381,-25.529,-22.769,23.792,-25.470,-25.409,-25.304
1,1.446,1.184,1.268,18.507,33.179,16.736,3.229,-26.619,-26.523,-22.574,24.691,-26.253,-26.497,-26.438
2,1.251,0.665,0.782,14.082,31.801,17.080,2.839,-26.238,-26.216,-22.169,24.649,-26.285,-26.215,-26.370
3,1.464,1.079,1.052,16.975,34.503,17.143,3.144,-25.426,-25.079,-21.765,24.913,-25.254,-25.021,-25.345
4,0.983,0.646,0.689,15.047,32.602,17.569,3.138,-25.376,-25.242,-21.072,25.299,-25.072,-25.195,-24.974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39602,1.382,1.215,1.263,10.874,29.194,16.582,3.410,-26.486,-26.581,-22.772,24.261,-26.491,-26.584,-26.580
39603,1.482,0.606,1.083,8.759,29.859,15.659,3.406,-27.308,-27.203,-24.674,23.427,-27.250,-27.334,-27.325
39604,1.117,1.154,0.993,13.159,24.720,16.823,3.215,-26.502,-26.687,-22.577,24.301,-26.388,-26.425,-26.601
39605,0.895,0.187,0.477,9.123,26.412,15.757,4.216,-26.760,-26.634,-24.066,23.305,-26.536,-26.751,-26.635
39606,1.147,0.348,0.852,10.421,30.745,16.781,3.307,-26.054,-26.251,-23.257,24.450,-26.224,-26.256,-26.093

In [36]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

KeyboardInterrupt

In [ ]:
pd.DataFrame(X.columns,model.feature_importances_).sort_index(ascending=False)

In [ ]:
pd.DataFrame([0.2594777429390943, 0.3608651752575464, 0.35299554221448104, 0.18707286611813304, 0.07910317604116744, 0.11971384182649097, 0.13004823447152736, 0.024185815130866747, 0.023799344141429164, 0.0394765219333084, 0.03337109441235436, 0.023992849164211377, 0.02396454569120152, 0.02398859789548287], y.columns, ).transpose()

In [82]:
model = XGBRegressor()
pred = []
for i in range(14):
    model.fit(X_train, y_train[:,i])
    pred.append(model.predict(test[list(test.columns[1:57])]))

C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\hjhhi\anaconda3\envs\python3.9.0\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [84]:
pd.DataFrame(np.array(pred))

,0,1,2,3,4,5,6,7,8,9,...,39598,39599,39600,39601,39602,39603,39604,39605,39606,39607
0,1.413911,1.434226,1.435094,1.456914,1.107213,1.463441,1.361819,1.280540,1.429513,1.312068,...,1.395759,1.260886,1.243639,1.362372,1.259727,1.254703,1.253956,1.190905,1.257739,1.295885
1,1.292186,1.336290,1.321511,1.193989,0.987804,1.112629,0.912209,1.104437,1.140080,1.020339,...,1.022551,0.794151,0.839677,0.738101,1.009025,0.909631,0.699888,0.852902,0.829972,0.896205
2,1.200198,1.247582,1.075727,0.904779,0.880457,0.960002,0.864050,0.977643,1.119008,0.873353,...,1.218007,0.834393,0.886803,0.976146,0.946068,1.057859,0.913860,0.882436,0.999235,0.959419
3,13.428924,13.825235,14.095428,15.231750,16.200918,15.066789,15.920895,15.845516,16.115755,15.073398,...,12.029051,12.578872,11.311323,12.806431,12.368732,12.600721,14.427991,11.968314,14.027182,13.147708
4,31.650911,30.550077,31.997810,32.828842,31.659578,32.335228,31.864113,31.698820,31.964565,31.376263,...,30.514814,30.502865,31.202438,31.535244,31.297787,30.560078,31.644922,31.461246,32.386181,31.899328
5,17.046722,16.064760,13.779037,17.205132,17.166845,17.578764,17.182934,17.502306,17.543526,17.012596,...,16.780472,16.587814,16.464685,17.156736,16.783670,16.942650,16.809509,16.689787,16.551908,16.685617
6,2.961989,3.305819,3.113713,2.976794,2.974329,3.050698,3.090094,2.901964,2.998230,3.190125,...,3.219755,3.252018,3.314944,3.389788,2.975066,3.196045,3.202775,3.136672,3.211555,3.060646
7,-25.960850,-26.229269,-25.577477,-25.560749,-25.614687,-25.469040,-25.013077,-25.468021,-25.197424,-26.155214,...,-26.441084,-26.601316,-26.558201,-26.483917,-26.508270,-26.583868,-26.460613,-26.436789,-26.368385,-26.394751
8,-26.491653,-26.501556,-25.785906,-25.778511,-25.322920,-25.053764,-24.989643,-25.426157,-25.706833,-25.835054,...,-26.491093,-26.584833,-26.611376,-26.628111,-26.285280,-26.434227,-26.816586,-26.738100,-26.281059,-26.369860
9,-21.761259,-22.543571,-21.531744,-21.613014,-21.433601,-21.891790,-21.530403,-22.402016,-21.416599,-21.972000,...,-22.912106,-23.232363,-22.894815,-22.370731,-22.780518,-22.703014,-22.281782,-22.863728,-22.616587,-22.854193
10,24.408907,24.257551,23.765934,24.908480,24.836935,25.011591,24.786415,25.106501,25.005125,24.659451,...,24.308367,24.169582,24.121929,24.769026,24.745171,24.206051,24.539492,24.476864,24.357738,24.128574
11,-25.778509,-26.240816,-26.288082,-25.572617,-25.575291,-25.106958,-25.681229,-25.227457,-25.310526,-26.275368,...,-26.642296,-26.491747,-26.530521,-26.238234,-26.344833,-26.452375,-26.604996,-26.438211,-26.486433,-26.659681
12,-26.076477,-26.271444,-26.117941,-25.579075,-25.665306,-25.244093,-25.248043,-25.286741,-25.177013,-25.910465,...,-26.485178,-26.492170,-26.548849,-26.226385,-26.495125,-26.410713,-26.506140,-26.446703,-26.844786,-26.614067
13,-26.513134,-26.142113,-26.788004,-25.425323,-25.324728,-25.401806,-25.946119,-25.280249,-25.514057,-25.940041,...,-26.762293,-26.539148,-26.534836,-26.570267,-26.125088,-26.591925,-26.377842,-26.419546,-26.679888,-26.568598

In [75]:
model.predict(X_test).shape

(9902,)

In [85]:
pred = np.transpose(pred)

In [80]:
lg_nrmse(np.array(y_test),np.transpose(pred))

[0.26404033449530245, 0.36856674590158733, 0.3587246370746403, 0.20111630977420897, 0.08142992883956593, 0.11784185457284205, 0.13294860451800997, 0.02448020470902072, 0.024101175444427837, 0.03993670671224683, 0.034070406561345586, 0.02437413341750674, 0.024228893519468747, 0.02431432829394628]

2.030003987811155

# Predict Y_11 First

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [51]:
y_train_11 = y_train["Y_11"]
y_test_11 = y_test["Y_11"]

In [52]:
model = RandomForestRegressor()
model.fit(X_train, y_train_11)

RandomForestRegressor()

In [53]:
X_train["Y_11"] = model.predict(X_train)
model_2 = RandomForestRegressor()
model_2.fit(X_train, y_train)

RandomForestRegressor()

In [59]:
# X_test["Y_11"] = model.predict(X_test)
pred = model_2.predict(X_test)

In [65]:
y_test

,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
26267,1.100,0.669,0.497,13.258,30.600,16.605,4.063,-26.046,-26.311,-23.005,24.146,-26.301,-26.348,-26.237
9686,1.264,0.548,0.707,12.993,33.641,16.809,3.230,-26.418,-26.428,-22.225,24.515,-26.330,-26.322,-26.353
3845,1.211,0.883,0.673,15.075,33.486,16.623,3.140,-25.767,-25.704,-21.973,24.793,-25.621,-25.673,-25.775
19533,1.668,1.553,1.150,15.068,32.486,17.674,2.764,-25.829,-26.002,-21.193,25.282,-25.871,-25.864,-25.874
37747,1.056,0.828,0.752,15.572,32.294,16.999,3.331,-25.683,-25.652,-21.734,24.761,-25.741,-25.431,-25.682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32197,1.841,1.431,1.453,14.111,28.704,17.051,3.700,-25.328,-25.481,-21.489,24.761,-25.130,-25.312,-25.263
19726,1.747,1.529,1.356,12.844,27.614,17.400,3.217,-25.904,-25.910,-21.907,24.939,-25.759,-25.784,-25.738
16537,0.824,0.641,0.426,10.815,27.039,15.235,3.395,-27.305,-27.270,-23.855,22.744,-27.300,-27.030,-27.208
11381,1.133,0.802,0.798,16.117,32.786,16.120,2.882,-27.529,-27.363,-23.028,23.727,-27.142,-27.105,-27.171
17561,1.203,0.555,0.763,13.560,32.117,16.909,3.550,-25.691,-25.848,-22.586,24.701,-25.768,-25.810,-25.821

In [66]:
pred.shape

(9902, 14)

In [69]:
lg_nrmse(np.array(y_test), pred)

[0.2585291730802704, 0.36219962829722213, 0.35592982005569895, 0.19109341376725766, 0.08059765128520041, 0.12004935054679504, 0.13253389894506237, 0.024076788441728697, 0.023886355660720598, 0.0396287596597299, 0.03345471538767088, 0.023998868839385686, 0.023919889964008376, 0.02404848325845188]

1.9989487420730498

In [79]:
pd.DataFrame([0.2594777429390943, 0.3608651752575464, 0.35299554221448104, 0.18707286611813304, 0.07910317604116744, 0.11971384182649097, 0.13004823447152736, 0.024185815130866747, 0.023799344141429164, 0.0394765219333084, 0.03337109441235436, 0.023992849164211377, 0.02396454569120152, 0.02398859789548287], y.columns, ).transpose()

,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,0.259478,0.360865,0.352996,0.187073,0.079103,0.119714,0.130048,0.024186,0.023799,0.039477,0.033371,0.023993,0.023965,0.023989

In [38]:
X_test["Y_11"] = model.predict()

,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,2.056,1.456,1.680,10.502,29.632,16.083,4.276,-25.381,-25.529,-22.769,23.792,-25.470,-25.409,-25.304
1,1.446,1.184,1.268,18.507,33.179,16.736,3.229,-26.619,-26.523,-22.574,24.691,-26.253,-26.497,-26.438
2,1.251,0.665,0.782,14.082,31.801,17.080,2.839,-26.238,-26.216,-22.169,24.649,-26.285,-26.215,-26.370
3,1.464,1.079,1.052,16.975,34.503,17.143,3.144,-25.426,-25.079,-21.765,24.913,-25.254,-25.021,-25.345
4,0.983,0.646,0.689,15.047,32.602,17.569,3.138,-25.376,-25.242,-21.072,25.299,-25.072,-25.195,-24.974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39602,1.382,1.215,1.263,10.874,29.194,16.582,3.410,-26.486,-26.581,-22.772,24.261,-26.491,-26.584,-26.580
39603,1.482,0.606,1.083,8.759,29.859,15.659,3.406,-27.308,-27.203,-24.674,23.427,-27.250,-27.334,-27.325
39604,1.117,1.154,0.993,13.159,24.720,16.823,3.215,-26.502,-26.687,-22.577,24.301,-26.388,-26.425,-26.601
39605,0.895,0.187,0.477,9.123,26.412,15.757,4.216,-26.760,-26.634,-24.066,23.305,-26.536,-26.751,-26.635
39606,1.147,0.348,0.852,10.421,30.745,16.781,3.307,-26.054,-26.251,-23.257,24.450,-26.224,-26.256,-26.093

In [73]:
test["Y_11"] = model.predict(test[list(test.columns[1:])])
pred = model_2.predict(test[list(test.columns[1:])])

# Submission

In [81]:
submission[list(submission.columns[1:])] = model.predict(test[list(test.columns[1:57])])

ValueError: Columns must be same length as key

In [11]:
submission[list(submission.columns[1:])]

,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,1.37042,1.08067,1.02674,14.13674,31.41828,16.65789,3.08395,-26.19325,-26.22382,-22.29272,24.39037,-26.18821,-26.14404,-26.17236
1,1.42886,1.17319,1.09452,13.65158,31.15232,16.22329,3.15314,-26.19807,-26.24616,-22.39741,24.30276,-26.15097,-26.16346,-26.16413
2,1.21642,0.95266,0.86042,14.38804,31.22530,16.52038,3.18037,-26.02520,-26.06254,-22.37890,24.24936,-25.99856,-25.96044,-26.01583
3,1.40970,1.11500,1.02503,14.51187,31.67424,16.93885,3.26058,-25.85866,-25.86165,-22.01656,24.63577,-25.81670,-25.80881,-25.79592
4,1.44573,1.14124,1.03202,15.46684,32.48300,17.30291,3.03163,-25.54372,-25.56196,-21.71003,25.04654,-25.48317,-25.45379,-25.47709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39603,1.23272,0.89982,0.91766,12.98898,30.89798,16.54172,3.28001,-26.44070,-26.43320,-22.63336,24.22475,-26.36413,-26.35827,-26.37433
39604,1.29859,0.92517,0.97948,13.00220,30.86109,16.49300,3.28951,-26.47837,-26.49514,-22.71105,24.17363,-26.42971,-26.43080,-26.43203
39605,1.28119,0.94297,0.95854,12.92747,30.85459,16.48530,3.17961,-26.53564,-26.54602,-22.82558,24.17078,-26.47484,-26.45665,-26.49213
39606,1.23907,0.88723,0.92271,13.16475,30.97334,16.53911,3.21328,-26.51936,-26.50770,-22.76473,24.21642,-26.46513,-26.44715,-26.45363
39607,1.23372,0.98117,0.96123,12.41517,30.23002,16.31155,3.25189,-26.67982,-26.68190,-22.95654,23.97622,-26.62453,-26.61673,-26.64081

In [36]:
submission.to_csv("./base_submission.csv", index=None)

In [76]:
submission[list(submission.columns[1:])] = pred

In [77]:
submission

,ID,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,TEST_00001,1.35715,1.03671,0.99336,14.09131,31.69138,16.72478,3.07788,-26.13267,-26.13365,-22.18535,24.48519,-26.05869,-26.03910,-26.07058
1,TEST_00002,1.42831,1.12109,1.02897,13.69207,31.43461,16.85669,3.10026,-26.02814,-26.04793,-22.01384,24.56186,-25.95946,-25.98444,-25.99097
2,TEST_00003,1.36997,1.06288,1.02683,13.41389,31.46871,16.40396,3.07858,-26.24907,-26.27106,-22.34511,24.45382,-26.17200,-26.19355,-26.18957
3,TEST_00004,1.44211,1.18059,1.05732,14.99515,32.40908,16.55465,2.92662,-25.73173,-25.75175,-21.90083,25.04108,-25.70984,-25.70497,-25.70435
4,TEST_00005,1.41916,1.09096,1.01876,14.41536,32.13287,17.22580,3.01528,-25.73981,-25.75782,-21.84433,24.96186,-25.70938,-25.72326,-25.71942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39603,TEST_39604,1.28790,0.92080,0.91305,14.44741,32.25306,16.99792,3.03814,-26.19200,-26.19888,-22.31393,24.70607,-26.12315,-26.10704,-26.12000
39604,TEST_39605,1.32271,0.97324,0.97803,15.14405,31.78722,16.99181,3.07120,-26.20886,-26.22867,-22.33916,24.68012,-26.13987,-26.13783,-26.14408
39605,TEST_39606,1.25544,0.93182,0.90208,14.36359,32.09843,16.98801,3.04539,-26.18726,-26.16501,-22.36627,24.69319,-26.11795,-26.09544,-26.14106
39606,TEST_39607,1.37600,1.03907,1.01584,14.97587,32.87738,17.18376,2.95024,-26.11946,-26.13365,-22.08794,24.88659,-26.06411,-26.05527,-26.05518
39607,TEST_39608,1.33166,1.00685,0.97948,13.97825,31.53962,16.93820,3.12133,-26.21345,-26.23043,-22.28940,24.61845,-26.13117,-26.12300,-26.16474

In [78]:
submission.to_csv("./base_submission.csv", index=None)